[project]
	description = Project for learn spring mvc and rest
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Roman Iuvshin (riuvshin)
[access "refs/for/refs/*"]
	read = group user/Roman Iuvshin (riuvshin)
	push = group user/Roman Iuvshin (riuvshin)
	label-Code-Review = -2..+2 group user/Roman Iuvshin (riuvshin)
	label-Verified = -1..+1 group user/Roman Iuvshin (riuvshin)
	rebase = group user/Roman Iuvshin (riuvshin)
	removeReviewer = group user/Roman Iuvshin (riuvshin)
	submit = group user/Roman Iuvshin (riuvshin)
[access "refs/heads/*"]
	read = group user/Roman Iuvshin (riuvshin)
	create = group user/Roman Iuvshin (riuvshin)
	push = +force group user/Roman Iuvshin (riuvshin)
	pushMerge = group user/Roman Iuvshin (riuvshin)
[access "refs/tags/*"]
	push = +force group user/Roman Iuvshin (riuvshin)
	pushTag = group user/Roman Iuvshin (riuvshin)
	pushSignedTag = group user/Roman Iuvshin (riuvshin)
